    *{                  
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 100px 0px 0px;
    padding: 10px;
    
}

.header{
    background-color: black;
    height: 90px;
    position: fixed;     
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav{
    margin-right: 15rem;
}

.nav-menu-link{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px 5px;

}

.nav-menu-link:hover{
    background-color: gray;
    transition: 0.5s;
    border-radius: 3px;
}

.logo{
    margin-left: 15rem;
}

.nav-menu{
    display: flex;   
    list-style: none;
}

.nav-menu-item{
    font-size: 17px;
    font-weight:lighter;
    text-transform: uppercase;
    max-width: max-content;
}

p{
    font-size: 2rem;
}

.iphone-container{
    border: solid 3px blue;
 
    
   
}


























footer{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(64, 64, 64, 0.035);
    padding: 100px;
}